# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
env/
.env

# Node.js / JavaScript (Vite)
node_modules/
dist/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/

# VS Code
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Other
*.log